In [1]:
import IPython
import pandas as pd
import numpy as np

from datetime import datetime, date
from math import *
import json
%matplotlib inline
from decimal import *
getcontext().prec = 6
import re
from decimal import Decimal

from os import listdir
from os.path import isfile, join

In [2]:
def load_candles(filename):
  df = pd.read_json(filename)
  df.columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume']
  # df.columns = ['timestamp', 'open']
  df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms', utc=False)
  # df = df[(df['date']>=date(2020,4,6)) & (df['date']<=date(2021,4,5))] 
  # df['timestamp'] = df.timestamp.astype('datetime64[m]')
  df.set_index(pd.DatetimeIndex(df["timestamp"]), inplace=True, drop=True)
  # df = df['2020-04-06' : '2021-04-05']
  df.drop(['timestamp', 'high', 'low', 'close', 'volume'], axis=1, inplace=True)
  # df['ohl3'] = (df['open'] + df['high'] + df['low']) / 3
  return df

# datapath = './data'
# kline_pairs = [f.split('.')[0].split('-')[0] for f in listdir(datapath) if isfile(join(datapath, f))]
# klines = {pair: load_candles(f'./data/{pair}-1m.json') for pair in kline_pairs}
# klines

In [10]:
p = qpairs[0]
filename = f'./freq-user-data/data/binance/{p}-1m.json'
df = pd.read_json(filename)
df.columns = ['ts', 'open', 'high', 'low', 'close', 'volume']
df

                    ts      open      high       low     close      volume
0        1598918400000  11649.51  11664.78  11649.50  11661.93   58.776664
1        1598918460000  11661.92  11668.18  11660.07  11667.77   71.511145
2        1598918520000  11667.77  11668.50  11664.68  11667.12   35.425516
3        1598918580000  11667.12  11667.72  11655.91  11656.57   44.414383
4        1598918640000  11656.57  11656.57  11634.06  11647.06  125.959861
...                ...       ...       ...       ...       ...         ...
1738983  1703344080000  43764.55  43770.78  43764.54  43770.78   11.160000
1738984  1703344140000  43770.78  43770.78  43770.77  43770.77    4.263220
1738985  1703344200000  43770.78  43770.78  43760.10  43760.11   11.734270
1738986  1703344260000  43760.11  43760.11  43750.52  43750.53    4.481240
1738987  1703344320000  43750.53  43758.32  43750.52  43758.31    6.949950

[1738988 rows x 6 columns]

In [ ]:

datapath = './freq-user-data/data/binance/'
kline_pairs = [f.split('.')[0].split('-')[0] for f in listdir(datapath) if isfile(join(datapath, f))]
# klines = {pair: load_candles(f'./data/{pair}-1m.json') for pair in kline_pairs}
kline_pairs

In [3]:
qpairs = [
 'BTC_USDT',
 'ETH_USDT',
 'GBP_USDT']
timeframes = ['1m']

In [6]:


for p in qpairs:
    for tf in timeframes:
        print(f'Converting {p} - {tf}...')
        pd.read_json(f'./freq-user-data/data/binance/{p}-{tf}.json'
            ).set_axis(['dt','o','h','l','c','v'], axis=1
            ).set_index('dt'
            ).to_csv(f'./data-csv/{p}-{tf}.csv')

Converting BTC_USDT - 1m...
Converting ETH_USDT - 1m...
Converting GBP_USDT - 1m...

In [12]:
p = qpairs[0]
filename = f'./freq-user-data/data/binance/{qpairs[0]}-1m.json'
df = pd.read_json(filename
).set_axis(['dt','o','h','l','c','v'], axis=1
).set_index('dt')
# df.columns = [
df

                      o         h         l         c           v
dt
1598918400000  11649.51  11664.78  11649.50  11661.93   58.776664
1598918460000  11661.92  11668.18  11660.07  11667.77   71.511145
1598918520000  11667.77  11668.50  11664.68  11667.12   35.425516
1598918580000  11667.12  11667.72  11655.91  11656.57   44.414383
1598918640000  11656.57  11656.57  11634.06  11647.06  125.959861
...                 ...       ...       ...       ...         ...
1703344080000  43764.55  43770.78  43764.54  43770.78   11.160000
1703344140000  43770.78  43770.78  43770.77  43770.77    4.263220
1703344200000  43770.78  43770.78  43760.10  43760.11   11.734270
1703344260000  43760.11  43760.11  43750.52  43750.53    4.481240
1703344320000  43750.53  43758.32  43750.52  43758.31    6.949950

[1738988 rows x 5 columns]

In [ ]:
curl -H "X-CMC_PRO_API_KEY: 733a53cb-19a4-4070-8291-a03aa07da1ad" -H "Accept: application/json" -d "" -G "https://pro.coinmarketcap.com/v1/cryptocurrency/listings/latest"

In [3]:

from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json

url = 'https://pro.coinmarketcap.com/v1/cryptocurrency/listings/latest'
parameters = {
  # 'start':'1',
  # 'limit':'5000',
  # 'convert':'USD'
  'symbol': 'BTC,ETH,ADA'
}
headers = {
  'Accepts': 'application/json',
  'X-CMC_PRO_API_KEY': '733a53cb-19a4-4070-8291-a03aa07da1ad',
}

session = Session()
session.headers.update(headers)

try:
  response = session.get(url, params=parameters)
  data = json.loads(response.text)
  print(data)
except (ConnectionError, Timeout, TooManyRedirects) as e:
  print(e)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)